<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Spageti.Properties.Settings.SpagetiConnectionString"
            connectionString="Data Source=ANTE\SQLEXPRESS;Initial Catalog=Spageti;User ID=ante;Password=ante"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>